<div class="d-flex align-items-center justify-content-center pt-3 ">
    <div class="framerec overflow-auto d-flex flex-column mx-1">
        <div class="feat-topic  sticky-top d-flex justify-content-center">
            <div class="topic-rect ">
                <h3 class="pt-2">Key Features</h3>
            </div>
        </div>
        <div class="row-article d-flex align-items-center my-5 px-5">
            <img src=".\assets\art1.jpg" alt="art1" height="259" width="429" class="me-3">
            <p class="row-para ms-3">Our system uses Edge AI technology to rapidly detect and diagnose plant diseases in real-time. This allows farmers to promptly respond to outbreaks, resulting in higher crop yields and profitability.</p>
        </div>
        <div class="row-article d-flex my-5 px-5">
            <p class="row-para me-3">In addition to its disease detection capabilities, our system also provides accurate weather forecasting specifically tailored for farming environments. By monitoring crucial weather metrics, our system can predict potential outbreaks of plant diseases and their spread based on weather patterns.</p>
            <img src=".\assets\art2.jpg" alt="art2" height="259" width="429" class="ms-3">
        </div>
        <div class="row-article d-flex my-5 px-5">
            <img src=".\assets\art3.jpg" alt="art3" height="259" width="429" class="me-3">
            <p class="row-para ms-3">Our system is designed to be used at the edge, which means it can operate in real-time with minimal latency and without requiring constant connectivity to the cloud. This feature is particularly crucial for farming environments where reliable connectivity can be a challenge.</p>
        </div>
    </div>
</div>

