<div class="mainpill">
    <div class="pill pill1">
        <a href="#" routerLink="/dashboard/plantdash" class="fill-shape d-flex align-items-center justify-content-center"><img src=".\assets\plantico.png" alt="plantIcon" height="60px" width="60px"></a>
    </div>
    <div class="pill pill2">
        <a href="#" routerLink="/dashboard/weatherdash" class="fill-shape d-flex align-items-center justify-content-center pt-5"><img src=".\assets\weatherico.png" alt="plantIcon" height="60px" width="60px"></a>
    </div>
    <div class="pill pill3">
        <a href="#" routerLink="/dashboard/spreaddash" class="fill-shape d-flex align-items-center justify-content-center pt-5 mt-1"><img src=".\assets\spreadico.png" alt="plantIcon" height="60px" width="60px"></a>
    </div>

    <div class="pill pill4">
        <a href="#3" routerLink="/dashboard/livefeed" class="fill-shape d-flex align-items-center justify-content-center pt-5 mt-1"><img src=".\assets\liveico.png" alt="plantIcon" height="60px" width="60px"></a>
    </div>

</div>

