<div class="login-card-bg">
    <div class="pt-4">
        <div class="py-3 mt-1 d-flex justify-content-center">
            <input type="text" class="form-control" id="UsernameInput" placeholder="Username">
        </div>
        <div class="pb-3 d-flex justify-content-center">
            <input type="password" class="form-control" id="PasswordInput" placeholder="Password">
        </div>
        <div class=" pb-3 d-flex justify-content-center">
            <button type="button" class="btn" id="LoginButton" placeholder="Password">Login</button>
        </div>
        <div class="pb-1 d-flex justify-content-center">
            <a href="#">Forgotten Password?</a>
        </div>
        <div class="pb-3 d-flex justify-content-center">
            <div class="linestroke ">
            </div>
        </div>
        <div class="pb-3 d-flex justify-content-center">
            <button type="button" class="btn" id="CreateAccButton" placeholder="Password">Create Account</button>
        </div>
    </div>
</div>